.info-servicios {
  display: grid;
  gap: 10px;
  grid-template-rows: max-content auto;
  .title {
    padding: 0 5px;
  }
  .body {
    border-radius: 20px;
    border: solid 2px silver;
    width: 100%;
    display: grid;
    gap: 10px;
    padding: 20px;
    height: max-content;
    padding-top: 10px;
    .mantine-Select-dropdown {
      width: max-content !important;
      @media only screen and (max-width: 500px) {
        max-width: 270px;
      }
    }
    .actions {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      place-items: center;
      .button-actions {
        display: flex;
        gap: 15px;
        padding-top: 15px;
      }
    }

    @media only screen and (max-width: 630px) {
      .actions {
        .button-actions {
          display: grid;
          // width: 100%;
          // justify-content: space-around;
        }
      }
    }
    @media only screen and (max-width: 475px) {
      .actions {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        .button-actions {
          padding-top: 0;
          width: 100%;
          display: flex;
          justify-content: space-around;
        }
      }
    }
    .content-list-service {
      overflow: auto;

      .show-dsc-m {
        tr {
          grid-template-columns: 100px 170px 250px 100px 40px !important;
        }
      }
      .footer-dsc-m {
        tr {
          td {
            text-align: right;
            &:nth-child(1) {
              grid-column: span 2;
            }
            &:nth-child(2) {
              text-align: right;
              font-weight: 600;
            }
            &:nth-child(2) {
              grid-column: span 2;
              text-align: right;
            }
          }
        }
      }
      .footer-dsc-o {
        tr {
          td {
            text-align: center;
            &:nth-child(1) {
              grid-column: span 2;
            }
            &:nth-child(2) {
              text-align: right;
              font-weight: 600;
            }
            &:nth-child(3) {
              grid-column: span 2;
              text-align: center;
            }
          }
        }
      }
      .tabla-service {
        width: 542px;
        border-collapse: collapse;
        margin: 10px auto;
        max-height: 400px;
        .ico-req {
          position: absolute;
          bottom: 0;
          right: 0;
          color: #ffaf00;
          font-size: 24px;
          &:hover .info-req {
            display: block;
          }
          i {
            margin: 0;
            .info-req {
              display: none;
              width: max-content;
              position: absolute;
              top: -24px;
              left: 0;
              background: #fff;
              z-index: 1;
              border-radius: 5px;
              padding: 5px 10px;
              font-size: 17px;
              color: #000;
              font-family: roboto;
              border: solid 1px silver;
              font-weight: 100;
            }
          }
        }
        &::-webkit-scrollbar {
          width: 0;
        }
        tr {
          position: relative;
          display: grid;
          grid-template-columns: 80px 220px 100px 70px 100px 40px;
        }
        thead {
          border: 1px solid #4671ea;
          tr {
            th {
              background: #5b81ea;
              color: #fff;
              font-weight: bold;
              padding: 10px 0;
              text-align: center;
              font-size: 16px;
            }
          }
        }
        tbody {
          border: solid 1px #5b81ea;
          tr {
            td {
              position: relative;
              padding: 0 10px;
              border: 1px solid #4671ea;
              text-align: center;
              vertical-align: top;
              display: flex;
              justify-content: center;
              align-items: center;
              input {
                font-size: 13px;
                height: 35px;
                padding: 0 5px;
                padding-top: 3px;
                width: 100%;
              }
            }
            .cell-produc-descrip {
              display: grid;
              padding: 10px 0;
              gap: 10px;
            }
            .space-dsc {
              padding: 15px;
            }
            .tADescription {
              .contentDes {
                width: 100%;
                .textarea-container {
                  position: relative;
                  display: grid;
                  grid-template-columns: calc(100% - 42px) 42px;
                  textarea {
                    height: 25px;
                    float: left;
                    padding: 6px 10px;
                    outline: none;
                    resize: none;
                    font-size: 17px;
                    border-radius: 5px 0 0 5px;
                    border-color: #bfbfbf;
                    min-height: 36px;
                    max-height: 36px;
                    overflow: visible;
                    //background: rgba(255, 255, 255, 0.6392156863);
                    &:is(:focus, :valid) {
                      border-color: #4671ea;
                    }

                    &::-webkit-scrollbar {
                      width: 0;
                    }
                  }
                  .expanded {
                    max-height: 250px;
                  }
                }
                .expand-button {
                  width: 42px;
                  height: 36px;
                  outline: none;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 0 10px 10px 0;
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  background-color: #fafafa;
                  cursor: pointer;
                  border: 1px solid silver;
                  i {
                    padding: 5px;
                    z-index: 1;
                  }
                }
              }
            }
            .space-action:hover .delete-row,
            .space-action:hover ~ .delete-row {
              fill: #f88888;
            }
            .delete-row {
              width: 18px;
              height: 18px;
              fill: #4b4b4b;
              cursor: pointer;
            }
          }
        }
        tfoot {
          tr {
            td {
              position: relative;
              font-size: 15px;

              .dsc {
                position: absolute;
                z-index: 1;
              }
              .input-number {
                height: min-content;
                display: grid;
                justify-content: start;
                label {
                  color: #7a7dbb;
                  //text-transform: uppercase;
                  font-size: 15px;
                  font-weight: bold;
                  letter-spacing: 0.05em;
                  margin-right: 10px;
                }
                input {
                  border: 2px solid #7a7dbb;
                  width: 100%;
                  max-width: 150px;
                  height: 30px;
                  min-height: 0;
                  color: #3d44c9;
                  font-weight: bold;
                  background: transparent;
                  font-size: 13px;
                  outline: 0;
                }
                #input-total {
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
      .error-message {
        color: red;
      }
    }
  }
}
