$wBExport: 30px;
$wBspace: 175px;
.button_wrapper {
  position: absolute;
  align-items: center;
  width: $wBspace;
  height: 40px;
  border-radius: 10rem;
  background-color: #3a9950;
  font-size: 13px;
  color: white;
  border: none;
  display: flex;
  letter-spacing: 0.1em;
  font-weight: 200;
  overflow: hidden;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.25);
  z-index: 10;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  transition: 300ms;
  &:hover {
    transform: scale(110%);
    &::before {
      padding-top: 0px !important;
    }
  }

  &::before {
    content: "DESCARGANDO";
    position: absolute;
    background-color: white;
    height: $wBExport;
    width: $wBExport;
    color: #3a9950;
    display: flex;
    padding: 0 10px;
    left: 4px;
    border-radius: 10rem;
    align-items: center;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 3px;
    box-sizing: border-box;
  }
  &::after {
    content: "Exportar";
    height: 100%;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .icon {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: $wBExport;
    height: $wBExport;
    border-radius: 100%;

    background-color: white;
    color: #3a9950;

    > svg {
      padding: 5px;
      transition: 300ms;
    }
  }
}
.loading {
  &:before {
    animation: reveal 1s ease-in-out 300ms forwards;
  }
  .icon {
    left: 5px;
    animation: loadIcon 1s ease-in-out 300ms forwards;
    > svg {
      transform: rotatez(-90deg);
    }
  }
}
@keyframes loadIcon {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc($wBspace - 40px));
    left: 0;
  }
}
@keyframes reveal {
  0% {
    width: $wBExport;
    left: 5px;
  }
  99.99% {
    //left: 0;
  }
  100% {
    left: 5px;
    right: 5px;
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 500px) {
  .button_wrapper {
    transform: scale(80%);
    &:hover {
      transform: scale(90%);
    }
  }
}
