.action-personal {
  width: 300px;
  display: grid;
  gap: 10px;
  // .mantine-Radio-radio {
  //   display: block !important;
  // }
  .input-item {
    position: relative;
    width: calc(100% - 35px);
    .input-date {
      label {
        margin-bottom: 0;
      }
      .hour-date {
        position: relative;
        height: 36px;
        width: max-content;
        font-size: 16px;
        display: block;
        text-align: end;
        padding: 2px;
        border: 2px solid silver;
        select {
          outline: none;
          color: #767676;
          padding-right: 0;
          text-align: center;
          &:focus {
            outline: none;
            background-color: rgb(217, 235, 255);
          }
          option {
            text-align: center;
            background-color: #eee;
            color: #333;
            padding-right: 0;
          }
        }
        .react-time-picker {
          padding-right: 0;
        }
        .react-time-picker__inputGroup__amPm {
          width: 30px;
          height: 20px;
          padding: 3px 0;
          line-height: 0.8;
        }
        .react-time-picker__inputGroup__amPm {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
        }
        .react-time-picker__wrapper {
          border: none;
        }
        .react-time-picker__inputGroup {
          flex-grow: 0;
          padding: 0 0 0 7px;
        }
      }
    }
  }
  .time-asis {
    width: calc(100% - 35px);
    display: flex;
    justify-content: space-between;
    .input-item {
      width: max-content;
    }
  }
}
