.card-promo {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 10px;
  display: grid;
  position: relative;

  .delete-promo {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0 10px 0 5px;
    border: 0px solid silver;
    background-color: rgb(89, 89, 89);
    color: #fff;
    &:hover {
      background-color: rgb(249, 132, 132);
    }
  }
  span {
    font-weight: 600;
    font-size: 17px;
  }
  p {
    margin: 0;
    font-size: 15px;
  }
  .extra-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
