.action-add-p {
    width: max-content;
    h1 {
        font-size: 20px;
        color: #6b6b6b;
        text-align: center;
    }
    .inp-p {
        position: relative;
        width: calc(100% - 30px);
    }
    .info-p {
        display: grid;
        grid-template-rows: max-content max-content;
        gap: 20px;
        .body-p {
            display: grid;
            grid-template-columns: 50% 50%;
            .col-p {
                min-width: 250px;
                padding: 10px;
                width: 95%;
                display: grid;
                height: max-content;
                .i-state {
                    margin: 10px 0;
                    label {
                        font-size: 13px;
                    }
                }
            }
        }
        .b-add {
            width: 300px;
            margin: auto;
        }
    }
}
